<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
</head>
<body>
  <div>
    <h3>Une nouvelle demande a été envoyée par un CGP :</h3>

    <div>
      <p>
        <b>Origine :</b> {{ origin }}
      </p>
      <p>
        <b>Type :</b> {{ type }}
      </p>
      <p>
        <b>Titre :</b> {{ title }}
      </p>
      <p>
        <b>Description :</b> {{ description }}
      </p>
      <p>
        <b>Email :</b> {{ email }}
      </p>
      <p>
        <b>Agence :</b> {{ agency }}
      </p>
      {% for key, value in data %}
        <p>
          <b>{{ key }} :</b> {{ value }}
        </p>
      {% endfor %}
    </div>

  </div>
</body>
